


img {
	width: 100px;
	height: 100px;
}
/*
.main-menu:hover,nav.main-menu.expanded {
width:150px;
overflow:visible;
}

.main-menu {

border-right:black;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}


.nav-text {
	font-size: 16px;
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Bodoni';
}



.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

*/



#LOGO {
	position: absolute;
	width: 500px;
	height: 500px;
	opacity: 30%;
	mix-blend-mode: screen;
	margin: 200px -250px;
}

		

.mySlides {display:none;
	position: absolute;
	margin: 20px 665px;
	width: 400px;
							height: 400px;							
							position: absolute;
}


#title {
	position: absolute;
	margin: -20px 667px;
}



body{
	
	background-image:url('LND.jpg');
	margin: 300px 40px;

}

a{
	color: white;
	text-decoration: none;
}
.NavL {
position: static;
 display: inline;
}


#list {
	line-height: 13px;
  list-style-type: none;
 	position: absolute;
	margin: 20px 1015px;

}

#progress {
	
	width: 180px;
	height: 6px;
	position: absolute;
	margin: 7px 670px;
}
					
						
						
						span{
							font-size: 13px;
							color: white;
							position: absolute;
							margin: 3px 1035px;
						}
						#audioControl {
							background-image:url("btn1.svg");
							border: none;
							width: 25px;
							height: 12px;
								position: absolute;
								margin: 20px 1040px;
						}
						#browse {
							list-style-type: none;
							display: inline;
							position: absolute;
							margin: -295px 0px;

						}